@media only screen and (max-width: 500px) {
    .container {
        padding: 0 60px;
    }
    .team-members {
        display: block;
    }
    .team-img img {
        width: 100%;
        height: unset;
    }
    .team-member {
        margin-top: 10px;
    }
    .grey-strap {
        height: 200px;
    }
    .bottom-link {
        display: block;
        padding: 30px;
    }
    .bottom-link li {
        margin: 10px 0;
    }
    .bottom-link .page-links {
        padding: unset;
    }
    .bottom-link .page-links:hover {
        background: unset;
        color: #fff;
        border-bottom: solid 1px #ffffff;
     }
     .stats-item{
         width: 100px;
         margin-left: 0%  !important;
     }
}