* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.container {
    padding: 0 250px;
}

.section-title {
    font-size: 22px;
    letter-spacing: 5px;
    color: #43555e;
}

.para-content {
    color: #43555e;
}

/**********************************************************************
                            Buttons
 *********************************************************************/

.btn-container {
    margin-top: 40px;
}

.btn {
    padding: 12px 25px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background: #0e79bf;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    border: solid 1px #0e79bf;
    color: #0e79bf;
}

.btn-light {
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: solid 1px #fff;
}

.btn-light:hover {
    background: #fff;
    color: #0e79bf;
}
#top-img{
    height: 40vh;
}
#top-img img{
    width: 100%;
    height: 40vh;
}
/**********************************************************************
                            About Section
 *********************************************************************/

#about-section {
    /* background: #f4f4f4; */
}

.about-strap {
    background: #0e79bf;
    height: 100px;
    width: 100%;
}

#mission, #vision {
    background: #f4f4f4;
}

/**********************************************************************
                            About Section
 *********************************************************************/

#our-team {
    /* background: #eee; */
}

.team-members {
    display: flex;
    justify-content: space-evenly;
}

.team-member {
    border: solid 1px #0e79bf;
}

.team-name {
    font-weight: 500;
}

.team-img img {
    height: 350px;
}

.team-details {
    padding: 0 10px;
    position: relative;
}

.linked-in {
    position: absolute;
    bottom: 7px;
    right: 18px;
    color: #0e79bf;
    padding: 8px 10px;
    border-radius: 55%;
    transition: all 0.3s ease-in-out;
}

.team-details:hover .linked-in {
    background-color: #0e79bf;
    color: #fff;
}

/**********************************************************************
                            FOOTER
 *********************************************************************/

.blue-strap {
    background: #0e79bf;
    height: 100px;
}

.grey-strap {
    background: #444444;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.bottom-link {
    display: flex;
    list-style: none;
    padding: 30px;
}

.bottom-link .page-links {
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

.bottom-link .page-links:hover {
    background: #ffffff;
    color: #0e79bf;
}

.social-links {
    padding: 25px;
}

.social-links span {
    font-size: 20px;
    padding: 5px 8px;
    border: solid 1px transparent;
    border-radius: 50%;
}

.social-links span:hover {
    background: #fff;
    color: #0e79bf;
    border: solid 1px #fff;
}

.copyrights {
    background: #222;
    color: #fff;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.col-md{
    padding: 100px;
    background: #0e79bf;
    margin: 10px;
}
#stats .fa{
    font-size: 34px;
    color: #fff;
}
.counter{
    margin: 10px;
}
#stats .fa p{
    font-size: 18px;
}
.stats-item{
    width: 100px;
    /* text-align: center; */
}