@media only screen and (max-width: 1130px) {
    .container {
        padding: 0 80px;
    }
    .team-member {
        margin-left: 10px;
        margin-right: 10px;
    }
    .team-img img {
        width: 100%;
        height: unset;
    }
    .team-member {
        margin-top: 10px;
    }
    .grey-strap {
        height: 200px;
    }
    .bottom-link {
        display: block;
        padding: 30px;
    }
    .bottom-link li {
        margin: 10px 0;
    }
    .bottom-link .page-links {
        padding: unset;
    }
    .bottom-link .page-links:hover {
        background: unset;
        color: #fff;
        border-bottom: solid 1px #ffffff;
    }
    .row{
        display: block;
    }
    .col-md{
        padding: 100px;
        background: #0e79bf;
        margin: 10px;
    }
    #stats .fa{
        font-size: 34px;
        color: #fff;
    }
    .counter{
        margin: 10px;
    }
    #stats .fa p{
        font-size: 18px;
    }
    .stats-item{
        width: 100px;
        margin-left: 43% ;
    }
}