* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.container {
    padding: 0 250px;
}

.section-title {
    font-size: 22px;
    letter-spacing: 5px;
    color: #43555e;
}

.para-content {
    color: #43555e;
}

/**********************************************************************
                            Buttons
 *********************************************************************/

.btn-container {
    margin-top: 40px;
}

.btn {
    padding: 12px 25px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background: #0e79bf;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    border: solid 1px #0e79bf;
    color: #0e79bf;
}

.btn-light {
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: solid 1px #fff;
}

.btn-light:hover {
    background: #fff;
    color: #0e79bf;
}
#top-img{
    height: 40vh;
}
#top-img img{
    width: 100%;
    height: 40vh;
}


.contact-strap {
    background: #0e79bf;
    height: 100px;
    width: 100%;
}
.block-display{
    display: block !important;
    transition: all 3s ease-in-out;
}
#contact-section{
    position: relative;
}
#contact-section .section-title {
    font-size: 22px;
    letter-spacing: 5px;
    color: #ffffff;
}

.theme-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../images/contact-us-image/notch/theme.jpg");
    z-index: -11;
    opacity: 0.9;
}
input{
    /* display: block; */
    padding: 10px;
    width: 70%;
    margin-top: 10px;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: transparent;
    border-bottom: solid 2px #fff;
}
::placeholder{
    color: #fff;
}
textarea{
    color: #fff;
    width: 70%;
    resize: none;
    padding: 10px;
    background: #fefefe;
    border: solid 2px #fff;
    background-color: transparent;
}
button{
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
}
#findus{
    background: #F4F4F4;
}
/**********************************************************************
                            FOOTER
 *********************************************************************/
 .blue-strap{
    background: #0e79bf;
    height: 100px;
}
.grey-strap{
    background: #444444;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.bottom-link{
    display: flex;
    list-style: none;
    padding: 30px;
}
.bottom-link .page-links{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}
.bottom-link .page-links:hover{
    background: #ffffff;
    color: #0e79bf;
}
.social-links{
    padding: 25px;
}
.social-links span{
    font-size: 20px;
    padding: 5px 8px;
    border: solid 1px transparent;
    border-radius: 50%;
}
.social-links span:hover{
    background: #fff;
    color: #0e79bf;
    border: solid 1px #fff;
}
.copyrights{
    background: #222;
    color: #fff;
    padding: 20px;
}