@media only screen and (max-width: 500px) {
    .container {
        padding: 0 60px;
    }
    .grey-strap {
        height: 200px;
    }
    .bottom-link {
        display: block;
        padding: 30px;
    }
    .bottom-link li {
        margin: 10px 0;
    }
    .bottom-link .page-links {
        padding: unset;
    }
    .bottom-link .page-links:hover {
        background: unset;
        color: #fff;
        border-bottom: solid 1px #ffffff;
    }
    input {
        /* display: block; */
        padding: 10px;
        width: 100%;
        margin-top: 10px;
        align-items: center;
        background-color: transparent;
        color: #fff;
        border: transparent;
        border-bottom: solid 2px #fff;
    }
    textarea {
        width: 100%;
        resize: none;
        padding: 10px;
        color: #fff;
        border: solid 2px #767676;
        border: solid 2px #fff;
        background-color: transparent;
    }
    #top-img img{
        width: 900px;
        height: 40vh;
        transform: translateX(-35%);
    }
    #top-img{
        overflow: hidden;
    }
}