* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.container {
    padding: 0 250px;
}

.section-title {
    font-size: 22px;
    letter-spacing: 5px;
    color: #43555e;
}

.para-content {
    color: #43555e;
}

/**********************************************************************
                            Buttons
 *********************************************************************/

.btn-container {
    margin-top: 40px;
}

.btn {
    padding: 12px 25px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background: #0e79bf;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    border: solid 1px #0e79bf;
    color: #0e79bf;
}

.btn-light {
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: solid 1px #fff;
}

.btn-light:hover {
    background: #fff;
    color: #0e79bf;
}

/**********************************************************************
                            Home Section
 *********************************************************************/

#home-section {
    position: relative;
}

.home-background {
    position: relative;
    height: 100vh;
}

.home-background img {
    height: 100vh;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.home-content {
    color: #ffffff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-align: center;
}

.home-content h1 {
    font-size: 20px;
}

.home-content p {
    font-weight: 600;
    font-size: 18px;
}

/**********************************************************************
                            About Section
 *********************************************************************/

.about-strap {
    background: #0e79bf;
    height: 100px;
    width: 100%;
}

/**********************************************************************
                        Vision Mission Section
 *********************************************************************/

.vision-mission-content {
    height: 60vh;
    background: url("../images/index-images/vision-mission/image-asa.jpg");
    background-clip: content-box;
}

.vision-mission-content .section-title {
    color: #fff;
}

.vision-mission-description .para-content {
    color: #fff;
    text-align: center;
}

/**********************************************************************
                        Practice Areas Section
 *********************************************************************/

.classification {
    display: flex;
    justify-content: space-evenly;
}

.area-name {
    position: relative;
    width: 450px;
    height: 100px;
    border: solid 1px #0e79bf;
    margin-top: 20px;
    line-height: 100px;
    padding-left: 20px;
    transition: all .3s ease-in-out;
}

.area-name a {
    text-decoration: none;
    color: #0e79bf;
    transition: all .3s ease-in-out;
}

.area-name:hover a {
    color: #fff;
}

.area-name:hover {
    color: #fff;
    background: #0e79bf;
}

.area-name:hover .icon {
    color: #ffffff;
}

.icon {
    position: absolute;
    top: 45%;
    right: 10%;
    color: #0e79bf;
    transition: all .3s ease-in-out;
}

/**********************************************************************
                        Our Team Section
 *********************************************************************/

#our-team {
    background: #eee;
}

.team-members {
    display: flex;
    justify-content: space-evenly;
}

.team-member {
    border: solid 1px #0e79bf;
}

.team-name {
    font-weight: 500;
}

.team-img img {
    height: 350px;
}

.team-details {
    padding: 0 10px;
    position: relative;
}

.linked-in {
    position: absolute;
    bottom: 7px;
    right: 18px;
    color: #0e79bf;
    padding: 8px 10px;
    border-radius: 55%;
    transition: all 0.3s ease-in-out;
}

.team-details:hover .linked-in {
    background-color: #0e79bf;
    color: #fff;
}

/**********************************************************************
                        Newsletter Section
 *********************************************************************/

.news-container {
    padding: 20px;
    width: 350px;
    height: 230px;
    text-align: justify;
    border: solid 1px #0e79bf;
    margin: 20px;
    position: relative;
}
.read-more{
    text-decoration: none;
    color: #222;
    transition: all 3s ease-in-out;
}
.read-more:hover{
    border-bottom: solid 1px #0e79bf;
}
.read-more span{
    color: #0e79bf;
}
.newsletter-content .row {
    display: flex;
    justify-content: space-evenly;
}

.news-details{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e79bf;
    color: #fff;
    padding-bottom: 15px;
    padding-left: 20px;
}
/**********************************************************************
                            FOOTER
 *********************************************************************/
.blue-strap{
    background: #0e79bf;
    height: 100px;
}
.grey-strap{
    background: #444444;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.bottom-link{
    display: flex;
    list-style: none;
    padding: 30px;
}
.bottom-link .page-links{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}
.bottom-link .page-links:hover{
    background: #ffffff;
    color: #0e79bf;
}
.social-links{
    padding: 25px;
}
.social-links span{
    font-size: 20px;
    padding: 5px 8px;
    border: solid 1px transparent;
    border-radius: 50%;
}
.social-links span:hover{
    background: #fff;
    color: #0e79bf;
    border: solid 1px #fff;
}
.copyrights{
    background: #222;
    color: #fff;
    padding: 20px;
}