@media only screen and (max-width: 500px) {
    .container {
        padding: 0 60px;
    }
    .home-content h1 {
        font-size: 22px;
    }
    .home-content p {
        padding-top: 10px;
        font-size: 12px;
    }
    .vision-mission-content {
        height: 85vh !important;
    }
    .classification {
        display: block;
    }
    .area-name {
        width: unset;
    }
    .team-members {
        display: block;
    }
    .team-img img {
        width: 100%;
        height: unset;
    }
    .team-member {
        margin-top: 10px;
    }
    .newsletter-content .row {
        display: block !important;
    }
    .news-container {
        margin: unset;
        width: unset;
        height: 250px;
        margin-top: 20px;
    }
    .grey-strap {
        height: 200px;
    }
    .bottom-link {
        display: block;
        padding: 30px;
    }
    .bottom-link li{
        margin: 10px 0;
    }
    .bottom-link .page-links{
        padding: unset;
    }
    .bottom-link .page-links:hover{
        background: unset;
        color: #fff;
        border-bottom: solid 1px #ffffff;
    }
}