#navbar{
    z-index: 99999;
    background: rgba(204,204,204,0.7);
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    list-style: none;
    padding-right: 20px;
    margin-top: 26px;
}
.nav-links{
    padding: 10px;
    text-decoration: none;
    color: #0466a3;
    font-weight: 600;
    font-size: 18px;
}
.logo-name{
    /* font-family: 'philosopher'; */
    font-size: 30px;
    color: #0466a3;
    padding: 0 30px;
    letter-spacing: 5px;
    margin-top: 20px;
}
#mobile-nav{
    display: none;
}
.ham-bar{
    display: none;
}