@media only screen and (max-width: 500px) {
    #navbar {
        display: none;
    }
    .nav-list{
        display: block;
        text-align: center;
        margin-top: 80px;
    }
    .nav-list li{
        margin: 30px;
    }
    .nav-links{
        font-size: 30px;
    }
    #mobile-nav{
        display: none;
        z-index: 99999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: rgba(0,0,0,0.95)
    }
    .close-btn{
        color: #0e79bf;
        font-size: 40px;
        padding: 20px;
    }
    .mobile-logo{
        display: flex;
        justify-content: space-between;
    }
    .logo-name{
        padding-left: 145px;
        padding-top: 10px !important;
        font-size: 28px;
    }
    .ham-bar{
        display: block;
        color:  #0466a3;
        z-index: 99999;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 30px;
    }
}