@media only screen and (max-width: 1130px) {
    .container {
        padding: 0 80px;
    }
    .grey-strap {
        height: 200px;
    }
    .bottom-link {
        display: block;
        padding: 30px;
    }
    .bottom-link li{
        margin: 10px 0;
    }
    .bottom-link .page-links{
        padding: unset;
    }
    .bottom-link .page-links:hover{
        background: unset;
        color: #fff;
        border-bottom: solid 1px #ffffff;
    }
}