* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.container {
    padding: 0 250px;
}

.section-title {
    font-size: 22px;
    letter-spacing: 5px;
    color: #43555e;
}

.para-content {
    color: #43555e;
}

/**********************************************************************
                            Buttons
 *********************************************************************/

.btn-container {
    margin-top: 40px;
}

.btn {
    padding: 12px 25px;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background: #0e79bf;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    border: solid 1px #0e79bf;
    color: #0e79bf;
}

.btn-light {
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: solid 1px #fff;
}

.btn-light:hover {
    background: #fff;
    color: #0e79bf;
}

#top-img {
    height: 40vh;
}

#top-img img {
    width: 100%;
    height: 40vh;
}

/**********************************************************************
                            PRACTICE AREAS
 *********************************************************************/

.area-head {
    border: solid 2px #0e79bf;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.area-head:hover{
    background: #0e79bf;
    color: #fff;
}
.area-head:hover .fa-plus{
    color: #fff;
}
.fa-plus{
    color: #0e79bf;
}
.area-name #indirect-tax-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #direct-tax-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #corporate-practice-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #banking-practice-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #private-equity-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #energy-practice-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #bankruptcy-practice-content {
    display: none;
    transition: all 3s ease-in-out;
}

.area-name #real-estate-practice-content {
    display: none;
    transition: all 3s ease-in-out;
}

.content {
    /* display: none; */
    padding: 30px;
}

.block-display {
    display: block !important;
    transition: all 3s ease-in-out;
}
.services-strap {
    background: #0e79bf;
    height: 110px;
}

#tell-us {
    background: #f4f4f4;
}
.front-side img, .back-side img{
    height: 300px;
    width: 600px;
}

/**********************************************************************
                            FOOTER
 *********************************************************************/

.blue-strap {
    background: #0e79bf;
    height: 100px;
}

.grey-strap {
    background: #444444;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.bottom-link {
    display: flex;
    list-style: none;
    padding: 30px;
}

.bottom-link .page-links {
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

.bottom-link .page-links:hover {
    background: #ffffff;
    color: #0e79bf;
}

.social-links {
    padding: 25px;
}

.social-links span {
    font-size: 20px;
    padding: 5px 8px;
    border: solid 1px transparent;
    border-radius: 50%;
}

.social-links span:hover {
    background: #fff;
    color: #0e79bf;
    border: solid 1px #fff;
}

.copyrights {
    background: #222;
    color: #fff;
    padding: 20px;
}
#linkedin-profile{
    background: #eee;
}